{
  "a0": {
    "google" : {
      "clientId": "",
      "clientSecret": "",
      "redirectUris": {
        "sso_auth" : "",
      },
      "mobile": {
        "android": {
          "clientId": ""
        },
        "ios": {
          "clientId": ""
        }
      }
    },
    "GOOGLE_WHITE_LIST_EMAILS" : [
    ],
    "BASIC_AUTH_ADM_USERS" : [
      {
        "email": "",
        "password": "" 
      }
    ]
  }
}
