{
  "a0": {
    "google" : {
      "clientId": "",
      "clientSecret": "",
      "redirectUris": {
        "ssoAuth" : "",
        "ssoAuthSettings": ""
      },
      "mobile": {
        "androidRc": {
          "clientId": ""
        },
        "androidProd": {
          "clientId": ""
        },
        "androidRedesign": {
          "clientId": ""
        },
        "iosProd": {
          "clientId": ""
        },
        "iosRc": {
          "clientId": ""
        },
        "iosRedesign": {
          "clientId": ""
        }
      }
    },
    "GOOGLE_WHITE_LIST_EMAILS" : [
    ],
    "BASIC_AUTH_ADM_USERS" : [
      {
        "email": "",
        "password": "" 
      }
    ]
  }
}
